.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-default);
  height: 5rem;
}

.header img {
  height: 90%;
  width: auto;
  margin: 0;
  margin-left: 1rem;
}

.header i {
  font-size: 1.7rem;
  color: #fff;
  margin-right: 1rem;
}