
.menu {
  display: block;
}

.item {
  cursor: pointer;
  padding: 0.5rem;
}

.item span, .item a {
  font-size: 0.9rem;
  color: #fff;
  user-select: none;
}

.item ul {
  margin-top: 0.4rem;
}

.item-title {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.item-title .iconToggle{
  float: right;
}

.tree li {
  padding-left: 1.5rem;
}

.item i {
  margin-right: 0.5rem;
}

.tituloMenu {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    padding-top: 0rem;
  }

  .menu li {
    border-bottom: 1px solid #FFFFFF18;
  }

  .menuNone {
    display: none;
  }

  .menu {
    display: none;
  }

  .tituloMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.05rem;
    user-select: none;
  }
}
