.login {
  background: var(--bg-default);
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 1rem;
}

.login .form h1 {
  color: #555;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #eee;
}

.login .form {
  background: #fff;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login .form .btn {
  float: right;
  margin: 0.5rem 0;
}

.handleVisiblePassword {
  position: relative;
}

.handleVisiblePassword .fa-eye-slash, .handleVisiblePassword .fa-eye {
  color: #555;
  cursor: pointer;
  position: absolute;
  top: calc(50% + 4px);
  right: 0.625rem;
  font-size: 1.1rem;
  z-index: 2;
}

@media (max-width: 575.98px) {
  .login .form {
    width: calc(100% - 10px);
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .login .form {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .login .form {
    width: 60%;
  }
}

img {
  width: 20rem;
}