.purchase {
  padding: 1rem;
}

.purchase h1:not(.title-cash),
.card h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.card {
  width: 90%;
  min-height: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.card h2 {
  font-size: 1.15rem;
  font-weight: 600;
}

.navegation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

.navegation button:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.companies,
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.listItem li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: box-shadow 0.3s;
}

.listItem li:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.companies li h3 {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  color: #333;
  width: 100%;
  text-align: center;
}

.products li h3,
.products li p {
  text-align: left;
  width: 100%;
  font-weight: 500;
  text-indent: 15px;
}

.products li h3 {
  font-size: 1.5rem;
}

.products li p {
  font-size: 0.7rem;
}

.products li h3 {
  padding: 0.3rem 0;
}

.products li p {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.1rem;
  text-transform: capitalize;
  color: #444;
}

.selected {
  box-shadow: rgba(3, 102, 214, 0.5) 0px 0px 0px 3px !important;
}

.item-img {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
  margin-top: 0 !important;
  overflow: hidden;
}

.checkbox-company {
  display: none;
}

.payment .card-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.payment .info-payment {
  display: grid;
  grid-template-areas:
    "cardNumber cardNumber"
    "cardholder cardholder"
    "expirationDate cvc";
}

.info-payment .form-group {
  margin: 5px 0;
}

.info-payment :nth-child(1) {
  grid-area: cardNumber;
}

.info-payment :nth-child(2) {
  grid-area: cardholder;
}

.info-payment :nth-child(3) {
  grid-area: expirationDate;
  margin-right: 3px;
}

.payment :nth-child(4) {
  grid-area: cvc;
}

.nav-steps {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.nav-steps li {
  border-bottom: 2px solid var(--blue);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-left: 0;
}

.nav-steps li:last-child {
  border-right: 0;
}

.payment-options {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.payment-options > * {
  margin: 0;
}

.step-selected {
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px 5px 0px 0;
}

.boleto {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.boleto button {
  float: right;
}

.cash {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #252525;
}

.title-cash {
  font-size: 2rem;
  font-weight: 400;
  font-variant-caps: all-small-caps;
  text-align: center;
}

.cash span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cash i {
  font-size: 3rem;
}

.cash img {
  width: 50%;
  transform: scaleX(-1);
}

.boleto h3 {
  text-align: center;
  padding-bottom: 3px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.address .card-content {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.address .form-group {
  margin: 5px 0;
  padding: 0;
}

.address .card-content div {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.rua-nr > :first-child {
  flex: 3;
}

.rua-nr > :last-child {
  flex: 1;
}

.cidade-estado {
  align-items: center;
}

.cidade-estado > :first-child {
  flex: 3;
}

.cidade-estado > :last-child {
  flex: 1;
  border: 1px solid #ced4da;
  font-size: 1rem;
  padding: 13px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

details {
  cursor: pointer;
  user-select: none;
}

.confirmation details {
  padding: 1rem;
}

.confirmation details .infos {
  margin-top: 0.5rem;
}

.products-selected {
  border-collapse: collapse;
  width: 100%;
}

.products-selected td,
.products-selected th {
  padding: 5px;
}

.products-selected tr {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.method-payment li {
  margin: 0.5rem 0;
}

.method-payment h3 {
  font-weight: 600;
}

.endereco-infos li {
  margin: 0.5rem 0;
}

.endereco-infos li strong {
  font-weight: 600;
}
