
.purchase {
  padding: 1rem;
}

.purchase h1, .card h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.card {
  width: 90%;
  min-height: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.card h2 {
  font-size: 1.15rem;
  font-weight: 600;
}

.navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

.companies, .products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.listItem li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  cursor: pointer;
  padding-bottom: 5px;
}

.companies li h3 {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  color: #333;
  width: 100%;
  text-align: center;
}

.products li h3, .products li p {
  text-align: left;
  width: 100%;
  font-weight: 500;
  text-indent: 5px;
}

.products li h3 {
  font-size: 1.5rem;
}

.products li p {
  font-size: 0.7rem;
}

.products li h3 {
  padding: 0.3rem 0;
}

.products li p {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.1rem;
  text-transform: capitalize;
  color: #444;
}

.selected {
  box-shadow: rgba(3, 102, 214, 0.5) 0px 0px 0px 3px !important;
}

.item-img {
  width: 100%;
  margin-top: 0 !important;
}

.checkbox-company {
  display: none;
}

.payment .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-content :first-child {
  margin: 0;
}

.payment .info-payment {
  display: grid;
  grid-template-areas: 
    "cardNumber cardNumber" 
    "cardholder cardholder" 
    "expirationDate cvc";
}

.info-payment .form-group {
  margin: 5px 0;
}

.info-payment :nth-child(1) {
  grid-area: cardNumber;
}

.info-payment :nth-child(2) {
  grid-area: cardholder;
}

.info-payment :nth-child(3) {
  grid-area: expirationDate;
  margin-right: 3px;
}

.payment :nth-child(4) {
  grid-area: cvc;
}