.orders {
  margin: 1rem;
}

.orders .filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter input {
  width: 30rem;
}

.filter button {
  border: 1px solid #2ecc71;
  border-radius: 0 5px 5px 0;
}

.orders .fa-file-pdf {
  color: #e74c3c;
}

.orders .fa-shopping-bag {
  color: #f1c40f;
}

.orders .fa-edit {
  color: #2ecc71;
}

.orders .fa-trash {
  color: #95a5a6;
}

.orders .fa-plus {
  color: #58ace3;
}

.orders table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.orders table th,
.orders table td {
  border-bottom: 1px solid #eee;
  padding: 0.4rem;
  text-align: center;
}

.orders .dollar {
  margin-left: 1rem;
}

.orders h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}
